html, body {
  font-family: 'Questrial', sans-serif;
      height: 100%;
    }
table.dataTable .display {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  margin-left: 21rem;
  width: 57rem;
}
table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
  background-color: #333;
  color: white;
}
table.dataTable thead .sorting {
  background-image: url(../images/sort_both.png);
  background-color: #333;
  color: white;
}
table.dataTable thead .sorting_asc {
  background-image: url(../images/sort_both.png);
  background-color: #333;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  border: 1px solid #ffffff;
  /* background-color: white; */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc)); */
  /* background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%); */

  background: linear-gradient(to bottom, #8159de 0%, #8159de 100%);
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 10px;
  text-align: center;
}
select{
  width: 7rem;
    height: 28px;
}
option{
  width: 14rem;
    height: 28px;
}
input{
  width: 14rem;
  height: 28px;
}